/* Import */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Root */
:root{
    --very-dark-blue:#2d3248;
    --dark-cyan:#19a2ae;
    --dark-gray-blue:#6a6f81;
    --neutral-gray:#969696;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
/* Global */
body, html{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    height: 100%;
}

/* Background images */
.container{
    background: var(--dark-cyan);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.circle-top{
    position: absolute;
    top: -50%;
    right: 50%;
    z-index: 9;
}
.circle-bottom{
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: 9;
}
/* Card Profile */
.content{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}
.card-profile{
    background: #FFF url(/images/bg-pattern-card.svg) no-repeat;
    color: var(--very-dark-blue);
    border-radius: 15px;

    position: relative;
    z-index: 10;

    width: 325px;
    height: 380px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-profile img{
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid #FFF;
}

.name-profile{
    padding-top: 1rem;
    font-size: 20px;
    font-weight: 700;
}

.age-profile{
    font-weight: 400;
    color: var(--dark-gray-blue);
    padding-left: 0.2rem;
}

.city-profile{
    padding-top: 0.5rem;
    margin-bottom: 1rem;

    font-size: 14px;
    color: var(--dark-gray-blue);
}

.card-footer{
    position: absolute;
    bottom: 0;
}

.social-numbers{
    display: flex;
    flex-direction: row;
}