/* Import */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Root */
:root{
    --very-dark-blue:#2d3248;
    --dark-cyan:#19a2ae;
    --dark-gray-blue:#6a6f81;
    --neutral-gray:#969696;
}

/* Reset */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
/* Global */
body{
    background: var(--dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    color: var(--very-dark-blue);
}

html{
    font-size: 18px;
}
/* Background Circle */
.circle-top{
    position: absolute;
    top: -50%;
    right: 50%;
    z-index: 9;
}

.circle-bottom{
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: 9;
}

/* Card */
.card-profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    position: relative;
    background: #FFF url(/images/bg-pattern-card.svg) no-repeat;
    width: 335px;
    height: 385px;
    z-index: 10;
    
    border-radius: 1rem;
}

.photo-profile img{
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid #FFF;
}

.name-profile{
    padding-top: 0.8rem;
    font-size: 20px;
    font-weight: 700;
}

.age-profile{
    font-weight: 400;
    color: var(--dark-gray-blue);
    padding-left: 0.2rem;
}

.city-profile{
    padding-top: 0.5rem;
    margin-bottom: 1rem;

    font-size: 14px;
    color: var(--dark-gray-blue);
}

.card-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e9e9e9e9;
}

.social-numbers{
    display: flex;
    justify-content: space-around;
}

.social-profile{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.number{
    font-weight: 700;
}

.social-information{
    margin-top: 0.3rem;
    font-size: 14px;
    letter-spacing: 0.1rem;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
